/* src/components/ScrollToTopButton.css */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;  /* Distancia desde el borde inferior */
    right: -100px;   /* Distancia desde el borde derecho */
    background-color: #0d55a7; /* Color del fondo del botón */
    color: white; /* Color del ícono */
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    z-index: 1000; /* Para asegurarse de que esté siempre visible sobre otros elementos */
    animation: slide-in-animation 0.5s ease forwards; /* Animación de deslizamiento */
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}
  
  .scroll-to-top-button:hover {
    background-color: white;
    border : 2px solid #0d55a7;
    color: #0d55a7;
    transform: translateY(-5px);  /* Elevar un poco el botón cuando se pasa el ratón */
  }
  
  .scroll-to-top-button svg {
    font-size: 20px; /* Tamaño del ícono de la flecha */
  }
  /* Definir la animación para deslizar el botón desde la derecha */
@keyframes slide-in-animation {
    from {
      right: -100px; /* Empieza fuera de la pantalla, hacia la derecha */
    }
    to {
      right: 20px; /* Posición final dentro de la pantalla */
    }
  }