/* src/components/home/Home.css */
.container {
    margin-top: 20px; /* Espacio superior */
  }
  
  h2 {
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .lead {
      font-size: 1.2rem; /* Aumentar el tamaño de la fuente en pantallas pequeñas */
    }
  }
  