/* src/components/header/Header.css */
.header {
  margin-bottom: 50px; /* Espacio inferior para separar del contenido */
}

.navbar {
  background-color: #007bff; /* Color de fondo de la barra de navegación */
}

.navbar-brand,
.nav-link {
  color: blue; /* Color del texto de los enlaces */
}

.nav-link:hover {
  color: red; /* Color del texto al pasar el mouse */
  font-weight: bold;
  text-decoration: underline;

}
