/* Estilos generales del navbar */

/* Menú desplegable */
.sliding-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.0s ease-in-out; /* Suave deslizamiento */
}

.sliding-menu.show {
  max-height: 500px; /* Ajusta este valor según el tamaño del menú */
  transition: max-height 1.0s ease-in-out;
}

/* Estilos de los elementos dentro del menú */
.navbar-nav {
  list-style: none;
  text-align: center; /* Centrar los enlaces en pantallas pequeñas */
}

.nav-item {
  margin: 5px 0; /* Añadir espacio entre los enlaces */
}


/* Evitar el deslizamiento en pantallas más grandes */
@media (min-width: 992px) {
  .navbar-brand {
    margin-right: auto; /* Alinear navbar-brand a la izquierda */
  }
  .navbar-nav {
    margin-left: auto; /* Alinear elementos del nav a la derecha */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sliding-menu {
    max-height: none; /* Mostrar menú en pantallas grandes */
    overflow: visible;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 0 15px;
  }

  .nav-link {
    color: #000;
  }

}
