/* src/components/footer/Footer.css */
.footer {
    padding: 20px 0; /* Espaciado superior e inferior */
    background-color: #0d55a7; /* Color de fondo */
    color : #fff;
  }
  
  .footer h5 {
    margin-bottom: 15px; /* Espacio inferior para los encabezados */
    font-weight: bold;
  }
  
  .footer p {
    margin: 10px 0; /* Elimina margen en párrafos */
    color: #ffffffbe;
  }
  
  .footer a {
    color: #ffffffbe; /* Color de los enlaces */
    text-decoration: none; /* Elimina subrayado */
    padding: 3px;
  }
  
  .footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  
  @media (max-width: 768px) {
    .footer h5 {
      font-size: 1.25rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
  
    .footer p {
      font-size: 0.9rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
  }
  