/* src/index.css */
/* *{
  box-sizing: border-box;
} */

html, body {
  height: auto; /* Asegura que el cuerpo ocupe el 100% de la altura */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  font-family: Arial, sans-serif; /* Define una fuente básica */
}

.container-fluid {
  padding: 20px; /* Espaciado alrededor del contenido */
  
}

h2 {
  margin: 20px 0; /* Espacio alrededor de los encabezados */
  min-height: 20vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

/* Media Queries para mayor control */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
}

