/* src/components/InfoSection.css */

.info-boxes-section {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 30px 20px;
    border-radius: 10px;
  }
  
  .info-box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white; /* Fondo de cada caja */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease-in-out;
  }
  
  .info-box:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  }
  
  .info-icon {
    background-color: #0d55a7; /* Color de fondo del ícono */
    color: white; /* Color del ícono */
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 15px;
    display: inline-block;
  }
  
  .info-box h3 {
    margin-top: 15px;
    font-weight: bold;
  }
  
  .info-box p {
    margin: 15px 0 20px;
  }
  
  .btn-primary {
    background-color: #0d55a7;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0b4792;
  }
  